# ----------------
# PLEASE READ
# ----------------
# This file is an example of the .env file that is needed in order for certain
# features of this application to function properly. Use this file as a template
# to create your own .env file. The application will not read the .env.example file.
# development or production

REACT_APP_BACKEND_ENDPOINT = https://pokeapi.co/
REACT_APP_ENCRYPT_STORAGE = MySuperSecretpassPokemon@2022
REACT_APP_REDUX_SECRET_KEY = tXtffrg%&q*xWergs2VS2F5Qv*
REACT_APP_JWT_SECRET = tXtffrg%&q*xWergs2VS2F5Qv*
PORT=3000